/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	justify-content: center;
}

header {
	width: 100%;
	color: grey;
    padding: 0px 5px 25px 50px;
    margin: 0px 5px 25px 0px;
	border: 10px solid rgba(0, 0, 0, 0);
	/* vertical-align: 100px; */
	
	
	
    
}

nav {
	display: inline-block;
	left: 200px;
	text-align: center;
	 
}

nav a {
	text-align: center;
	margin-right: -40px; 
	
	display: inline-block;
  	font-size: 14px;
	padding-top: 15px;
	padding-left: 155px;
	width: 100px;
	  
}
.logo {
	position: relative;
	right: -140px;
	top: 10px;
}

.title-txt {
	box-sizing: border-box;
	width: 80%;
	height: 100px;
	color: grey;
    padding: 20px 5px 10px 50px;
    margin: 50px 5px 25px 250px;
	border: 10px solid rgba(0, 0, 0, 0);
	/* vertical-align: 100px; */
	
	display: inline-block;
	font-size: 80px;
	
	
	
}
#get-started {
	font-size: 18px;
	position: relative;
	top: -50px;
	left: 30px;
	
	border: 2px solid grey;
	margin: 50px 5px 25px 25px;
	padding: 10px 0px 10px 0px;
	width: 180px;
	text-align: center;
}

.header-img {
	position: relative;
	top: -380px; 
	right: -710px;
	
	
}
.mid-img {
	width: 60%;
	
    padding: 10px 5px 0px 0px;
    margin: -120px 5px 25px 200px;
	border: 10px solid rgba(0, 0, 0, 0);
	/* vertical-align: 100px; */
	
	
}
.features {
	
	padding: -10px 50px 250px 500px;
	 margin: -280px 5px 25px 200px; 
	border: 10px solid rgba(0, 0, 0, 0);
	width: 450px;
	
	
	
	
	}
.about {
	
	padding: -10px 50px 25px 500px;
	/*margin: -100px 5px 25px 200px;  */
	border: 10px solid rgba(0, 0, 0, 0);
	width: 450px;
	top: -140px; 
	right: -650px;
	 position: relative;
	
	}

.services {
	
	padding: -10px 50px 250px 500px;
	margin: -10px 5px 25px 200px; 
	border: 10px solid rgba(0, 0, 0, 0);
	width: 300px;
	}

.product {

	padding: -10px 50px 25px 500px;
	/*margin: -100px 5px 25px 200px;  */
	border: 10px solid rgba(0, 0, 0, 0);
	width: 300px;
	top: -172px; 
	right: -500px;
	 position: relative;
}

.vision {
	
	padding: -10px 50px 25px 500px;
	/*margin: -100px 5px 25px 200px;  */
	border: 10px solid rgba(0, 0, 0, 0);
	width: 300px;
	top: -320px; 
	left: 800px;
	 position: relative;
}

.contact {
	width: 500px;
    height: 50px;
    
    position: relative;
    top: -230px;
    right: -220px; 
}

footer {
	width: 500px;
    height: 50px;
    font-size: 13px;
    position: relative;
    top: -80px;
    right: -580px; 
} 

